werner_files/AlphaScanA-master/AlphaScanA-master/AlphaScan - Copy Jan18/AlphaScan/Connected Services/PimServiceRef/PIMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PIMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://161.6.106.201/PIMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://161.6.106.201/PIMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://161.6.106.201/PIMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PIMWcfService" />
      <xsd:import schemaLocation="http://161.6.106.201/PIMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://161.6.106.201/PIMService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPIMService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPIMService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPIMService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPIMService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddCountData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCountData" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddCountData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCountDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPIMService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IPIMService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddRFIDDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRFIDDataList" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddRFIDDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRFIDDataListResponse" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddRFIDData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRFIDData" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddRFIDData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRFIDDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPhoto" />
  </wsdl:message>
  <wsdl:message name="IPIMService_AddPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPhotoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPIMService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIMService/GetData" message="tns:IPIMService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIMService/GetDataResponse" message="tns:IPIMService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIMService/GetDataUsingDataContract" message="tns:IPIMService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIMService/GetDataUsingDataContractResponse" message="tns:IPIMService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCountData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIMService/AddCountData" message="tns:IPIMService_AddCountData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIMService/AddCountDataResponse" message="tns:IPIMService_AddCountData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIMService/GetCount" message="tns:IPIMService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIMService/GetCountResponse" message="tns:IPIMService_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRFIDDataList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIMService/AddRFIDDataList" message="tns:IPIMService_AddRFIDDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIMService/AddRFIDDataListResponse" message="tns:IPIMService_AddRFIDDataList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRFIDData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIMService/AddRFIDData" message="tns:IPIMService_AddRFIDData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIMService/AddRFIDDataResponse" message="tns:IPIMService_AddRFIDData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIMService/AddPhoto" message="tns:IPIMService_AddPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIMService/AddPhotoResponse" message="tns:IPIMService_AddPhoto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPIMService" type="tns:IPIMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPIMService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPIMService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCountData">
      <soap:operation soapAction="http://tempuri.org/IPIMService/AddCountData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IPIMService/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRFIDDataList">
      <soap:operation soapAction="http://tempuri.org/IPIMService/AddRFIDDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRFIDData">
      <soap:operation soapAction="http://tempuri.org/IPIMService/AddRFIDData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoto">
      <soap:operation soapAction="http://tempuri.org/IPIMService/AddPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PIMService">
    <wsdl:port name="BasicHttpBinding_IPIMService" binding="tns:BasicHttpBinding_IPIMService">
      <soap:address location="http://161.6.106.201/PIMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>